body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Positions */

.b0 {
  bottom: 0;
}

/* Alignment */
.posr {
  position: relative;
}

.posf {
  position: fixed;
}

.posa {
  position: absolute;
}

.df {
  display: flex;
}

.fxg1 {
  flex-grow: 1;
}

.fxsh0 {
  flex-shrink: 0;
}

.fxdr {
  flex-direction: row;
}

.fxdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.asfe {
  align-self: flex-end;
}

/* Paddings */
.phm {
  padding-left: 16px;
  padding-right: 16px;
}

.pvm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pvs {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Margins */
.mhm {
  margin-left: 16px;
  margin-right: 16px;
}

.mvm {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mvs {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Fonts */
.lh16 {
  line-height: 16px;
}

.fz16 {
  font-size: 16px;
}

.fz32 {
  font-size: 32px;
}

.fwb {
  font-weight: bold;
}

.tdlt {
  text-decoration: line-through;
}

.c-gray {
  color: darkslategray;
}

/* Borders */
.bdw0 {
  border-width: 0;
}

.bdbws {
  border-bottom-width: 1px;
}

.bdtws {
  border-top-width: 1px;
}

.bdc-gray-light {
  border-color: lightgray;
}

.bdss {
  border-style: solid;
}

.bg-primary {
  background-color: #2196F3;
}

.bg-white {
  background: white;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-yellow-light {
  background: lightyellow;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.h100p {
  height: 100%;
}

.w100p {
  width: 100%;
}

.maw600 {
  max-width: 600px;
}

.mih48 {
  min-height: 48px;
}

.tac {
  text-align: center;
}

.curp {
  cursor: pointer;
}


/* Mobile styles */
@media (max-width: 759px) {
  .mv0-xs {
    margin-top: 0;
    margin-bottom: 0;
  }

  .posf-xs {
    position: fixed;
  }

  .bdss-xs {
    border-style: solid;
  }

  .bdtws-xs {
    border-top-width: 1px;
  }

  .pvs-xs {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}